* {
    color-scheme: dark;
}

body {
    color: white;

    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column;
    justify-items: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    width: 100vw;
    background: linear-gradient(to bottom, rgba(255, 0, 0, 0.8), rgba(0, 0, 255, 0.8));
    transition: background-color 0.5s ease;
    /* Add a smooth transition effect */
}

.blue-bg {
    background-color: blue;
}

.red-bg {
    background-color: red;
}

body>h1 {
    margin-block: 5rem;
}

section {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

section>* {
    height: 100%;
}

#allinput-container {
    grid-template-columns: 1fr 1fr;
    display: grid;
}

#numinput_container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-flow: column;

}

#numinput_container .numinput {
    width: 10rem;
}

#slider {
    align-self: center;
    justify-self: center;
    height: 100%;
    appearance: slider-vertical;
    -webkit-appearance: slider-vertical;
}

#slider-container {
    justify-self: center;
    align-self: center;
    height: 20rem;
    display: flex;
    justify-content: center;
    /* width: 20rem; */
    align-items: baseline;
    overflow: hidden;
}

#cel-values {
    height: 100%;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-flow: column;
    /* height: 20rem; */
    font-size: 0.55rem;
}

#far-values {
    height: 100%;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-flow: column;
    /* height: 20rem; */
    font-size: 0.55rem;
}

#cel-values * {
    margin: 0;
}

#far-values * {
    margin: 0;
}

#formula-box {
    padding: 2rem;
    background-color: rgba(59, 59, 59, 0.482);
    border-radius: 1rem;
    height: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8rem 2rem;
}


#trans {
    overflow: hidden;
    width: 28;
    position: relative;
    text-align: center;
    white-space: nowrap;
    animation: typing 1s steps(28) 1 forwards, cursor-blink 1s linear 1s 1, typing2 1s steps(28) 2s 1 forwards, cursor-blink2 1s linear 3s 1;
}

#greeting {
    /* margin-top: 7vh; */
    display: flex;
    align-items: center;
    font-size: min(5vw, 3.1rem);
    margin-left: auto;
    margin-right: auto;
    /* text-align: center; */
    font-weight: 200;
}

.numinput {
    border: 2px solid red;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0rem 0rem 1rem rgb(255, 115, 0);
}

.numinput:focus {
    border: 1px solid rgb(11, 53, 95);
    box-shadow: 0rem 0rem 1rem rgb(0, 153, 255);

}

@keyframes cursor-blink {
    from {
        border-right: 0;
    }

    to {
        border-right: 1px solid white;
    }
}

@keyframes cursor-blink2 {
    from {
        border-right: 0;
    }

    to {
        border-right: 1px solid white;
    }
}

@keyframes typing {
    from {
        width: 0px;
        border-right: 1px solid white;
    }

    to {
        width: 28;
        border-right: 1px solid white;
    }
}

@keyframes typing2 {
    from {
        border-right: 1px solid white;
        width: 28;
    }

    to {
        border-right: 1px solid white;
        width: 0px;
    }
}

@media (max-width: 800px) {
    section {
        grid-template-columns: unset;
        grid-template-rows: 1fr 1fr !important;
    }
}